Mule_kafka_ConsumerGroup/target/classes/Mule_kafka_ConsumerGroup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apachekafka="http://www.mulesoft.org/schema/mule/apachekafka" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apachekafka http://www.mulesoft.org/schema/mule/apachekafka/current/mule-apachekafka.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apachekafka:config name="Apache_Kafka__Producer_Configuration" bootstrapServers="localhost:9092"   doc:name="Apache Kafka: Configuration" producerPropertiesFile="producer.properties" doc:description="Apache_Kafka__Producer_Configuration"/>
    <apachekafka:config name="Apache_Kafka__Consumer_Configuration1" bootstrapServers="localhost:9092" consumerPropertiesFile="consumer1.properties" doc:name="Apache Kafka: Configuration" doc:description="Apache_Kafka__Consumer_Configuration1"/>
    <apachekafka:config name="Apache_Kafka__Consumer_Configuration2" bootstrapServers="localhost:9092" consumerPropertiesFile="consumer2.properties" doc:name="Apache Kafka: Configuration" doc:description="Apache_Kafka__Consumer_Configuration2"/>
    <flow name="Mule_kafka_Producer">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/kafka" doc:name="HTTP"/>
        <logger message="---PRODCUER SENT---" level="INFO" doc:name="Logger"/>
        <apachekafka:producer config-ref="Apache_Kafka__Producer_Configuration" topic="mykafkatopic" key="#[server.dateTime.getMilliSeconds()]" doc:name="Apache Kafka"/>
    </flow>
    
     <flow name="Mule_kafka_Consumer1">
        <apachekafka:consumer config-ref="Apache_Kafka__Consumer_Configuration1" topic="mykafkatopic" partitions="1" doc:name="Apache Kafka (Streaming)"/>
        <logger message="---------CONSUMER-1---#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
     
     <flow name="Mule_kafka_Consumer2">
        <apachekafka:consumer config-ref="Apache_Kafka__Consumer_Configuration2" topic="mykafkatopic" partitions="1" doc:name="Apache Kafka (Streaming)"/>
        <logger message="---------CONSUMER-2---#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
